@font-face {
    font-family: "Gotham Medium";
    src: url("../fonts/Gotham-Medium.woff") format('woff');
}

body {
	background: url("../img/classified.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

#container {
	padding-top: 30px;

	.ads {
		padding-left: 0px;
		img {
			padding-bottom: 20px;
		}
	}
	.gallery {
		margin-bottom: 20px;
	}
}

nav.top-bar {
	.title-area {
		img {
			height: 45px;
			padding: 7px 0px;
		}
	}
	span.label {
		margin-top: 12px;
		.number {
			color: #333;
		}
	}
}

.panel.categories {
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 0px;
	i {
		padding-right: 10px;
	}
	li {
		list-style: none;
		padding-left: 1em;
	}
	p.label {
		font-size: 20px;
		margin-bottom: 0.75em;
		min-width: 100%;
		text-align: left;
	}
}

.orbit-container {
	border: 5px solid #eee;
	.orbit-bullets {
		display: none;
	}
	ul.orbit-slides-container {
		height: 280px !important;
	}
}

.large-12 > .carousel {
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	[data-clearing] li {
		float: left;
		margin: 0px 10px;
		height: 100px;
		width: 120px;
		a img {
			height: 85px;
		}
	}
}